.transitions {
  header {
    position: relative;
    nav {
      position: absolute;
      top: 0px;
      right: 10px;
      padding: 4px;
      font-size: 1.2em;
    }
    .typeahead {
      position: absolute;
      left: 180px;
      top: 4px;
      font-size: 1.2em;
      padding: 2px;
    }
  }
  .body {
    overflow: auto;
    padding: 1px 5px;
    .vignette {
      margin: 2px;
      float: left;
    }
  }
}
