.transition-customizer {
  .uniforms-editor {
    margin-top: 20px;
  }
  .uniform-editor label {
    line-height: normal;
    right: 100%;
    top: 0px;
  }
  input.uniform-component-input {
    border: 1px solid #ccc;
  }
}
