@import Library
@import Header

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

h1 {
  padding: 2px 0;
  margin: 0;
  font-size: 1.6em;
}

h2 {
  padding: 2px 0;
  margin: 0;
  font-size: 1.4em;
  font-weight: 400;
}
