body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
h1 {
  padding: 2px 5px;
  margin: 0;
  font-size: 1.6em;
}
h2 {
  padding: 2px 5px;
  margin: 0;
  font-size: 1.4em;
  font-weight: 400;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #000;
}
a:hover {
  color: #f90;
}
