@import Library
@import Header
@import Viewer
@import Timeline

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  user-select: none;
}

h1 {
  padding: 2px 5px;
  margin: 0;
  font-size: 1.6em;
}

h2 {
  padding: 2px 5px;
  margin: 0;
  font-size: 1.4em;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
