.timeline-transition {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: rgba(40, 40, 40, 0.8);
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  z-index: 2;
  text-align: center;
  .name {
    color: #fff;
  }
  .uniform-editor label {
    position: static;
    line-height: normal;
    color: #fff;
  }
}
