@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src:url('Lato-Bold.ttf') format('truetype');
}
