
.timeline {
  background: #fcfcfc;

  .line {
    position: relative;
    overflow: auto;
    .timeline-element {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .transition {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(40, 40, 40, 0.8);
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      z-index: 2;
      text-align: center;
      .name {
        color: #fff;
      }
    }
  }
}
