.timeline-element {
  position: relative;
  .actions {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0%;
    font-size: 2em;
    text-shadow: 0px 0.5px 1px #000;
  }

  .sub-actions {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    font-size: 2em;
    text-shadow: 0px 0.5px 1px #000;
  }
}
