
.timeline {
  background: #fcfcfc;

  .line {
    position: relative;
    overflow: auto;
    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
    }
    .transition {
      position: absolute;
      top: 0;
      left: 0;
      background: #eeeeee;
    }
  }
}
