
.timeline {
  background: #fcfcfc;

  .line {
    position: relative;
    overflow: auto;
    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .transition {
      position: absolute;
      top: 0;
      left: 0;
      background: #333;
      z-index: 2;
      opacity: 0.6;
    }
  }
}
