.image-customizer {
  .mode-select {
    a {
      text-decoration: none;
      background: #aaa;
      color: #000;
      padding: 3px 8px;
      &:hover {
        text-decoration: none;
        background: #DDD;
        color: #000;
      }
      &.selected {
        &, &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
}
